a {
    margin: 0 5px;
    text-decoration: none;
    color: rgb(7, 7, 7);
    padding: 5px;
  }
  
  .logo {
    color: rgb(250, 7, 157);
    margin-left: 40px;
    float: left;
  
  }
  
  
  .nav-bar {
    background-color: white;
    padding: 20px 0;
    text-align: right;
    display: flex;
    top: 0;
    height: 5%;
    width: 100%;
    position: fixed;
    color: rgb(10, 10, 10)
  }
  
  .nav-bar a:hover {
    background-color: rgb(140, 151, 151);
    color: #ffffff;
    padding: 5px;
  }
  
  .header {
    position: absolute;
    right: 0;
        margin-right: 20px;}



        .container1{
            margin: 0; 
        
            margin-top: 6rem;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.3);
            width: 400px;
            margin-left: 35%;
        }
        
        h2{
            text-align: center;
            margin: 0 0 20px;
        }
        
        
        .login-form{
            padding: 30px 40px;
        }
        
        .form-control{
            margin-bottom: 10px;
            padding-bottom: 20px;
            position: relative;
        }
        
        .form-control label{
            color:#777;
            display: block;
            margin-bottom: 5px; 
        }
         
        .form-control input
        {
            /* border: 2px solid #f0f0f0; */
            border-radius: 4px;
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 14px; 
            outline: none;
            border: 1px solid silver;  
        }
        
        .login-form button {
            cursor: pointer;
            background-color: #3498db;
            border: 2px solid #3498db;
            border-radius: 4px;
            color: #fff;
            display: block;
            padding: 10px;
            font-size: 16px;
            margin-top:20px;
            width:100%;
        }
        .login-form #username_error,
        .login-form #pass_error{
            margin-top: 20px;
            color: rgb(219, 20, 20);
        display: none;
        }