table{
    margin-top: 5%;
    width: 75%;
    margin-left: 15%;
    color: rgb(12, 12, 12);
    border-collapse: collapse;
    background-color: rgb(192, 190, 190);
    /* margin: 0 auto; */
  }
  .table h1{
    margin-left: 15%;
    padding-top: 5%;
  }
  th,td{
    text-align: left;
    padding: 10px;
    
  }
  th{
    background-color: aqua;
  }
