*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


a {
  margin: 0 5px;
  text-decoration: none;
  color: rgb(7, 7, 7);
  padding: 5px;
}

.logo {
  color: rgb(250, 7, 157);
  margin-left: 40px;
  float: left;

}


.nav-bar {
  background-color: white;
  padding: 20px 0;
  text-align: right;
  display: flex;
  top: 0;
  height: 5%;
  width: 100%;
  position: fixed;
  color: rgb(10, 10, 10)
}

.nav-bar a:hover {
  background-color: rgb(140, 151, 151);
  color: #ffffff;
  padding: 5px;
}

.header {
  position: absolute;
  right: 0;
  margin-right: 20px;

}

.toggle {
  display: none;
}

.sidebar {
  display: none;
  background-color: #ccc;
  position: absolute;
  height: auto;

}

.sidebar a {
  margin: 5;
}

@media screen and (max-width:610px) {
  .header {
    display: none;
  }

  .toggle {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 20px;
    cursor: pointer;
    overflow: hidden;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 7px 0 #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .line-toggle {
    position: absolute;
    display: block;
    width: 35px;
    height: 7px;
    background: #000;
    border-radius: 5px;
    transition: all .6s;
  }

  .line-toggle:first-child {
    transform: translateY(-10px) translateX(-7px);
    width: 20px;
    transition-delay: 0s;
  }

  .toggle .line-toggle:nth-child(2) {
    transition-delay: .12s;
  }

  .line-toggle:last-child {
    transform: translateY(10px) translateX(-2px);
    width: 30px;
    transition-delay: 0s;
  }

  .toggle.activate .line-toggle:first-child {
    background: orangered;
    transform: translateY(0) translateX(0) rotate(45deg);
    width: 90px;
    height: 8px;
    transition-delay: .1s;
  }

  .toggle.activate .line-toggle:nth-child(2) {
    transform: translateX(110px);
    transition-delay: 0s;
  }

  .toggle.activate .line-toggle:last-child {
    background: orangered;
    transform: translateY(0) translateX(0) rotate(314deg);
    width: 90px;
    height: 8px;
    transition-delay: .1s;
  }

  .sidebar {
    display: none;
    background-color: #ccc;
    position: fixed;
    height: auto;

  }

  .sidebar a {
    margin: 5;
  }
}

section {
  margin-top: 50px;
}

.title {
  background-image: url(../img/1.jpg );
  /* padding: 20px; */
  /* padding-top: 50vh; */
  height: 100vh;
  background-repeat: no-repeat;
  color: white;

}

.title h1 {
  padding-top: 25%;
  text-align: center;
  color: #0bf8ec;
}

.title p {
  text-align: center;
  font-size: large;
}

* {
  box-sizing: content-box;
}
@media screen and (max-width:610px) {
  .title {
    background-image: url(../img/1.jpg );
    /* padding: 20px; */
    /* padding-top: 50vh; */
    height: 200px;
    background-repeat: no-repeat;
    background-size: 1370px 680px;
    color: white;
  
  }
  
  .title h1 {
    padding-top: 25%;
    text-align: center;
    color: #0bf8ec;
  }
  
  .title p {
    text-align: center;
    font-size: large;
    margin-bottom: 50px;
  }
}




.login {
  height: 100vh;
  width: 100%;
  background-color: #63646b;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
  display: none;
}

.login-form .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.login-form form {
  margin-top: -20px;
}

.login-form form .data {
  height: 45px;
  width: 100%;
  margin: 40px 0;
}

form .data label {
  font-size: 18px;
}

form .data input {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}


form .btn {
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

form .btn a {
  position: inherit;
  top: 1rem;
}

form .btn .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: -webkit-linear-gradient(right,
      #56d8e4,
      #9f01ea,
      #56d8e4,
      #9f01ea);
  transition: all 0.4s;
}

form .btn:hover .inner {
  left: 0;
}

form .btn button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.about-me {
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: justify;
  width: 100%;
}

.about-me .about-content {
  width: 50%;
  padding: 2rem;
  /* border: #ce1010 solid; */
}

.about-me .about-content h1 {
  padding-bottom: 4rem;

}

.about-me .about-image {
  width: 45%;
  padding: 8rem;
  padding-top: 6rem;
  /* border: #bb1212 solid; */
}

.about-me .about-image img {
  width: 100%;
  height: 70vh;

}
@media(max-width:768px) {
  .about-me {
    display: block;
    align-items: center;
    height:auto;
    text-align: justify;
    width: 100%;
  }
  
  .about-me .about-content {
    width: 100%;
    padding: 0;
    /* border: #ce1010 solid; */
  }
  .about-me .about-content p{
  
    padding: 0 30px;
    /* border: #ce1010 solid; */
  }
  
  .about-me .about-content h1 {
    padding-bottom: 4rem;
  
  }
  
  .about-me .about-image {
    width: 80%;
    padding: 0;
    padding-top: 6rem;
    /* border: #bb1212 solid; */
  }
  
  .about-me .about-image img {
    width: 100%;
    height: 70vh;
  
  }
}
.blog-card{
  display: flex;
}

.my-blogs .all {
  display: flex;
  margin: 10px 10%;
}

.my-blogs .card p {
  font-size: small;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.562);
  color: black;
  text-align: center;
  display: inline-block;
  margin-top: 5%;
  margin-right: 40px;
  width: 80%;
  height: auto;
  font-size: x-small;
  background: #fdfcfc;
  border-radius: 20px;

}


.card .comment {


  padding: 12px;

  cursor: pointer;
  width: 10%;

}

.card .like {
  padding: 12px;

  cursor: pointer;
  width: 10%;
  margin-left: 20px;
}

.signs {
  display: flex;
  margin-bottom: 10%;
}



.my-blogs h1 {
  text-align: center;
  padding-top: 10%;
}

.see-more {
  background-color: rgb(17, 173, 245);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin: 10px 1px;
  padding: 5px 5px;
  width: 80%;
}

.previous {
  background-color: #1388cc;
  color: black;
  /* margin-left: 5px;
padding-bottom: 20px; */
  padding: 8px 16px;
}

.next {
  margin-right: 70px;
  float: right;
  background-color: #04AA6D;
  color: white;
  padding: 8px 16px;
}

.next:hover {
  background-color: #ddd;
  color: black;
}

.blogs a {
  text-decoration: none;
  display: inline-block;

}

.previous:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width:610px) {
  .my-blogs .all {
    display: block;
    margin-left: 10%;
  }

  .my-blogs .card p {
    font-size: small;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.562);
    color: black;
    text-align: center;
    margin-top: 5%;
    margin-right: 40px;
    width: 100%;
    height: auto;
    font-size: x-small;
    background: #fcfcfc;
    border-radius: 20px;

  }

  

  .card .comment {


    padding: 12px;

    cursor: pointer;
    width: 10%;

  }

  .card .like {
    padding: 12px;

    cursor: pointer;
    width: 10%;
    margin-left: 20px;
  }

  .signs {
    display: flex;
    margin-bottom: 10%;
  }

  .mine {
    display: flex;
    margin-right: 10%;
  }

  .my-blogs h1 {
    text-align: center;
    padding-top: 10%;
  }

  .see-more {
    background-color: rgb(17, 173, 245);
    border-radius: 30px;
    border: none;
    margin: 10px 1px;
    padding: 5px 5px;
    width: 80%;
  }

  .previous {
    background-color: #1388cc;
    color: black;
    /* margin-left: 5px;
  padding-bottom: 20px; */
    padding: 8px 16px;
  }

  .next {
    margin-right: 70px;
    float: right;
    background-color: #04AA6D;
    color: white;
    padding: 8px 16px;
  }

  .next:hover {
    background-color: #ddd;
    color: black;
  }

  .blogs a {
    text-decoration: none;
    display: inline-block;

  }

  .previous:hover {
    background-color: #ddd;
    color: black;
  }


}

.contact {
  background-color: #e2bffaa8;
  display: flex;
  padding-top: 10vh;
  height: 100vh;
  padding-bottom: 5%;
  /* border-radius: 20px; */
}

input[type=text],
select,
textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 16px;
  resize: vertical;
  margin-right: 30%;


}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  background-color: #fdfeff;
  padding: 40px;
  width: 30%;
  margin-right: 10%;
  /* margin-left: 5%; */

}

.container .contact-me {
  width: 40%;
  padding: 2rem;
}

.first {
 padding-top: 20%;
  margin-left: 20%;
  padding: 20px;
  /* padding-top: 10%; */
  background: #06affdc4;
  width: 30%;
  color: #fdfeff;
  text-align: center;
}

.contact h1 {
  text-align: center;
  margin-bottom: 5%;
}

@media screen and (max-width:610px) {
  .contact {
    background-color: #ffffff;
    display: block;
    padding-top: 10px;
    height: auto;
    padding-bottom: 5%;
    /* border-radius: 20px; */
  }
  
  input[type=text],
  select,
  textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 16px;
    resize: vertical;
    margin-right: 30%;
  
  
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    background-color: #fdfeff;
    padding: 0px;
    width: 80%;
    margin-right: 0%;
    margin: 0 auto;

    /* margin-left: 5%; */
  
  }
  
  .container .contact-me {
    width: 100%;
    padding: 0;
  }
  
  .first {
    width: 80%;
    margin:0 auto;
    /* padding-top: 10%; */
    background: #06affdc4;
    color: #fdfeff;
    text-align: center;
  }
  
  .contact h1 {
    text-align: center;
    margin-bottom: 5%;
  }
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin-left: 5rem;
}

.flip-card:first-child {
  margin-left: 8.5rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(252, 247, 247);
  color: black;
}

.flip-card-back {
  background-color: #f4f8fa;
  color: rgb(12, 11, 11);
  transform: rotateY(180deg);
}

.my-work {
  display: flex;
  margin-left: 10%;

}

.my-work .flip-card h1 {
  padding-top: 20%;
}

.my-work .flip-card-back p {
  padding-top: 30%;
}

.my-work .flip-card-front p {
  font-size: small;
}

.my-work .flip-card-back button {
  background-color: rgb(0, 38, 255);
  border-radius: 20px;
  border: none;
  margin: 10px 1px;
  padding: 10px 10px;
  width: 70%;
}

@media screen and (max-width:610px) {
  .my-work {
    width: 100%;
    display: block;

  }

  .my-work .flip-card h1 {
    padding-top: 0;
  }

  .my-work .flip-card-back p {
    padding-top: 0;
  }

  .my-work .flip-card-front p {
    font-size: small;
  }

  .my-work .flip-card-back button {
    background-color: rgb(0, 38, 255);
    border-radius: 20px;
    border: none;
    margin: 10px 1px;
    padding: 10px 10px;
    width: 70%;
  }
}

.fa-solid {
  margin-top: 10%;

}

.fa-circle-chevron-right {
  margin-left: 10%;
}

.myWork h1 {
  margin-bottom: 5%;
  text-align: center;
}

.skills {

  padding-left: 10%;
}

.my-skills {
  width: 50%;
  background-color: rgb(39, 38, 38);


}

.skills h1 {
  /* padding-top: 10%; */
  margin-bottom: 5%;

  padding-left: 10%;
}

.knowledge {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 90%;
  background-color: #f75058;
  margin-bottom: 20px;
}

.css {
  width: 80%;
  background-color: #f75058;
  margin-bottom: 20px;
}

.js {
  width: 70%;
  background-color: #f75058;
  margin-bottom: 20px;
}

.git {
  width: 65%;
  background-color: #f75058;
  margin-bottom: 20px;
}

.github {
  width: 60%;
  background-color: #f75058;
  margin-bottom: 20px;
}


.skills {

  padding-left: 10%;
}

.my-skills {
  width: 50%;
  background-color: rgb(39, 38, 38);


}

.skills h1 {
  padding-top: 10%;
  margin-bottom: 5%;

  padding-left: 10%;
}

.knowledge {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 90%;
  background-color: #f75058;
  margin-bottom: 20px;
}

.css {
  width: 80%;
  background-color: #f75058;
  margin-bottom: 20px;
}

.js {
  width: 70%;
  background-color: #f75058;
  margin-bottom: 20px;
}

.git {
  width: 65%;
  background-color: #f75058;
  margin-bottom: 20px;
}

.github {
  width: 60%;
  background-color: #f75058;
  margin-bottom: 20px;
}

/* ------------------------ Toaster message --------------------------------------------------------- */
#snackbar {
  visibility: hidden;
  min-width: 400px;
  margin-left: -125px;
  background-color: rgb(5, 107, 5);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-size: 28px;
  padding: 32px;
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 300px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 1s, fadeout 1.5s 3.5s;
  animation: fadein 1s, fadeout 1.5s 3.5s;
}

#snackbarFailure {
  visibility: hidden;
  min-width: 400px;
  margin-left: -125px;
  background-color: rgb(173, 5, 5);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-size: 28px;
  padding: 32px;
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 300px;
}

#snackbarFailure.show {
  visibility: visible;
  -webkit-animation: fadein 1s, fadeout 1.5s 3.5s;
  animation: fadein 1s, fadeout 1.5s 3.5s;
}





@-webkit-keyframes fadein {
  from {
    bottom: 100;
    opacity: 1;
  }

  to {
    bottom: 300px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 1;
  }

  to {
    bottom: 300px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 300px;
    opacity: 1;
  }

  to {
    bottom: 300px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 300px;
    opacity: 1;
  }

  to {
    bottom: 300px;
    opacity: 1;
  }
}

/* --------------------end message--------------------------------------- */
.comment {
    background-image: url("../img/comment.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    margin:5px 10px;
    margin-right: 2px;
    height: 4px;
    width: 4px;

}
.like {
    background-image: url("../img/like.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    margin:5px 10px;
    margin-left: 2px;
    height: 4px;
    width: 4px;

}